<h2 mat-dialog-title>{{ data ? "Editar" : "Crear" }} Propietario</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-stepper formArrayName="steps">
      <mat-step
        formGroupName="0"
        [stepControl]="ownerFormGroup"
        label="Datos propietario"
      >
        <div class="grid grid-cols-1 sm:grid-cols-4 gap-x-3 gap-y-1 pt-2">
          <div class="sm:col-span-2">
            <mat-form-field appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="first_name" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Paterno</mat-label>
              <input matInput formControlName="middle_name" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Materno</mat-label>
              <input matInput formControlName="last_name" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>CI</mat-label>
              <input matInput formControlName="dni" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Telefono</mat-label>
              <input matInput formControlName="phone" />
            </mat-form-field>
          </div>
          <div class="sm:col-span-2">
            <mat-form-field appearance="outline">
              <mat-label>Direcion</mat-label>
              <input matInput formControlName="address" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Nacimiento</mat-label>
              <input
                matInput
                [matDatepicker]="pickerBirth"
                formControlName="birthDate"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="pickerBirth"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerBirth></mat-datepicker>
            </mat-form-field>
          </div>
          <div>
            <simple-select-search
              label="Distrito"
              placeholder="Seleccione un distrito"
              [value]="ownerFormGroup.get('districtId')?.value"
              [elements]="districts()"
              (onSelect)="ownerFormGroup.get('districtId')?.setValue($event)"
            />
          </div>
        </div>
        <div class="flex justify-end">
          <button mat-button matStepperNext type="button">Siguiente</button>
        </div>
      </mat-step>
      <mat-step
        formGroupName="1"
        [stepControl]="petsFormArray"
        label="Datos mascotas"
      >
        <div class="flex items-center p-3">
          <div class="text-lg">Mascotas</div>
          <div class="flex-1"></div>
          <div>
            <button mat-mini-fab aria-label="Add pet button" (click)="addPet()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
        <div class="flex flex-col gap-y-4 overflow-y-scroll max-h-96">
          <div *ngFor="let control of petsFormArray.controls; let i = index">
            <div class="border-2 border-gray-300 rounded-xl px-2 sm:px-4">
              <div class="flex justify-end">
                <button
                  mat-icon-button
                  aria-label="Remove pet"
                  matTooltip="Remover"
                  color="warn"
                  (click)="removePet(i)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
              <div class="flex flex-col sm:flex-row items-center gap-4">
                <div class="w-full sm:w-2/5">
                  <image-uploader
                    [preview]="petsList()[i].image"
                    (fileChange)="selectImage($event, i)"
                    (onImageRemoved)="removeImage(i)"
                  />
                </div>
                <div class="w-full sm:w-3/5">
                  <div
                    class="grid grid-cols-1 sm:grid-cols-3 gap-x-3 gap-y-1"
                    [formGroupName]="i"
                  >
                    <div class="sm:col-span-2">
                      <mat-form-field appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="name" />
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field appearance="outline">
                        <mat-label>Nacimiento</mat-label>
                        <input
                          matInput
                          [matDatepicker]="pickerBirth"
                          formControlName="birthDate"
                        />
                        <mat-datepicker-toggle
                          matIconSuffix
                          [for]="pickerBirth"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #pickerBirth></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="sm:col-span-3">
                      <simple-select-search
                        placeholder="Seleccione una raza"
                        label="Raza"
                        [value]="petsFormArray.at(i).get('breedId')?.value"
                        [elements]="breeds()!"
                        (onSelect)="
                          petsFormArray.at(i).get('breedId')?.setValue($event)
                        "
                      />
                    </div>
                    <div>
                      <mat-form-field appearance="outline">
                        <mat-label>Color</mat-label>
                        <input matInput formControlName="color" />
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field appearance="outline">
                        <mat-label>Macho/Hembra</mat-label>
                        <mat-select formControlName="sex">
                          @for (element of animalSex; track $index) {
                          <mat-option [value]="element">
                            {{ element | uppercase }}
                          </mat-option>
                          }
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-checkbox formControlName="is_neutered" #neutered>
                        Esterilizado
                      </mat-checkbox>
                    </div>
                    <div>
                      <mat-form-field appearance="outline">
                        <mat-label>Esterilización</mat-label>
                        <input
                          matInput
                          [matDatepicker]="picker"
                          formControlName="neuter_date"
                        />
                        <mat-datepicker-toggle
                          matIconSuffix
                          [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="sm:col-span-2">
                      <mat-form-field appearance="outline">
                        <mat-label>Descripcion</mat-label>
                        <textarea
                          matInput
                          formControlName="description"
                        ></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-end py-3">
          <button mat-button matStepperPrevious type="button">Atras</button>
        </div>
      </mat-step>
    </mat-stepper>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="warn">Cancelar</button>
  <button mat-flat-button (click)="save()" [disabled]="form.invalid">
    Guardar
  </button>
</mat-dialog-actions>
