<h2 mat-dialog-title>{{ data ? "Editar" : "Crear" }} Propietario</h2>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="save()">
    <mat-stepper>
      <mat-step [stepControl]="ownerControl" label="Datos propietario">
        <div
          formGroupName="person"
          class="grid grid-cols-1 sm:grid-cols-4 gap-3 pt-2"
        >
          <div class="sm:col-span-2">
            <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="first_name" />
              <mat-error>
                {{ formUtils.getErrorMessage(ownerControl, "first_name", ERROR_MESSAGES["first_name"]) }}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Paterno</mat-label>
              <input matInput formControlName="middle_name" />
              <mat-error>
                {{ formUtils.getErrorMessage(ownerControl, "middle_name", ERROR_MESSAGES["middle_name"]) }}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Materno</mat-label>
              <input matInput formControlName="last_name" />
               <mat-error>
                {{ formUtils.getErrorMessage(ownerControl, "last_name", ERROR_MESSAGES["last_name"]) }}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>CI</mat-label>
              <input matInput formControlName="dni" />
              <mat-error>
                {{ formUtils.getErrorMessage(ownerControl, "dni", ERROR_MESSAGES["dni"]) }}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Telefono</mat-label>
              <input matInput formControlName="phone" />
               <mat-error>
                {{ formUtils.getErrorMessage(ownerControl, "phone", ERROR_MESSAGES["phone"]) }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="sm:col-span-2">
            <mat-form-field>
              <mat-label>Direccion</mat-label>
              <input matInput formControlName="address" />
              <mat-error>
                {{ formUtils.getErrorMessage(ownerControl, "address") }}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Nacimiento</mat-label>
              <input
                matInput
                [matDatepicker]="pickerBirth"
                formControlName="birthDate"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="pickerBirth"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerBirth></mat-datepicker>
              <mat-error>
                {{ formUtils.getErrorMessage(ownerControl, "birthDate") }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="sm:col-span-2">
            <simple-select-search
              label="Distrito"
              placeholder="Seleccione un distrito"
              [value]="ownerControl.get('districtId')?.value"
              [elements]="districts()"
              (onSelect)="ownerControl.get('districtId')?.setValue($event)"
            />
          </div>
        </div>
        <div class="flex justify-end">
          <button mat-button matStepperNext type="button">Siguiente</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="petsControl" label="Datos mascotas">
        <div class="flex items-center p-2">
          <div class="text-lg font-medium">Mascotas</div>
          <div class="flex-1"></div>
          <div>
            <button
              mat-mini-fab
              aria-label="Add pet button"
              type="button"
              (click)="addPet()"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
        <div
          formArrayName="pets"
          class="flex flex-col gap-3 overflow-y-auto max-h-[400px]"
        >
          @for (control of pets.controls; track $index; let i = $index) {
          <div [formGroupName]="i">
            <div class="border-2 border-gray-300 rounded-xl px-2 sm:px-4">
              <div class="flex items-center justify-between p-2">
                <span class="text-lg"> Mascota {{ i + 1 }} </span>
                @if(!petsList()[i].id){
                  <button
                    mat-icon-button
                    aria-label="Remove pet"
                    type="button"
                    (click)="removePet(i)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                }
              </div>
              <div class="flex flex-col sm:flex-row items-center gap-4">
                <div class="w-full sm:w-2/5">
                  <image-uploader
                    [preview]="petsList()[i].image"
                    (fileChange)="selectImage($event, i)"
                    (onImageRemoved)="removeImage(i)"
                  />
                </div>
                <div class="w-full sm:w-3/5">
                  <div class="grid grid-cols-1 sm:grid-cols-3 gap-x-3 gap-y-4">
                    <div class="sm:col-span-2">
                      <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="name" />
                        <mat-error>
                          {{ formUtils.getErrorMessage(form, "pets." + i + ".name") }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field>
                        <mat-label>Nacimiento</mat-label>
                        <input
                          matInput
                          [matDatepicker]="pickerBirth"
                          formControlName="birthDate"
                        />
                        <mat-datepicker-toggle
                          matIconSuffix
                          [for]="pickerBirth"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #pickerBirth></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="sm:col-span-3">
                      <simple-select-search
                        placeholder="Seleccione una raza"
                        label="Raza"
                        [value]="pets.at(i).get('breedId')?.value"
                        [elements]="breeds()!"
                        (onSelect)="pets.at(i).get('breedId')?.setValue($event)"
                      />
                    </div>
                    <div>
                      <mat-form-field>
                        <mat-label>Color</mat-label>
                        <input matInput formControlName="color" />
                        <mat-error>
                          {{ formUtils.getErrorMessage(form, "pets." + i + ".color") }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field>
                        <mat-label>Macho/Hembra</mat-label>
                        <mat-select formControlName="sex">
                          @for (element of animalSex; track $index) {
                          <mat-option [value]="element">
                            {{ element | uppercase }}
                          </mat-option>
                          }
                        </mat-select>
                        <mat-error>
                          {{ formUtils.getErrorMessage(form, "pets." + i + ".sex") }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="mb-2 sm:mb-0">
                      <mat-checkbox formControlName="is_neutered" #neutered>
                        Esterilizado
                      </mat-checkbox>
                    </div>
                    <div>
                      <mat-form-field>
                        <mat-label>Esterilización</mat-label>
                        <input
                          matInput
                          [matDatepicker]="picker"
                          formControlName="neuter_date"
                        />
                        <mat-datepicker-toggle
                          matIconSuffix
                          [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="sm:col-span-2">
                      <mat-form-field>
                        <mat-label>Descripcion</mat-label>
                        <textarea
                          matInput
                          formControlName="description"
                        ></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          }
          @empty {
            <div class="flex justify-start p-2">
              <span>No hay mascotas agregadas</span>
            </div>
          }
        </div>
       
        <div class="flex justify-end py-3">
          <button mat-button matStepperPrevious type="button">Atras</button>
        </div>
      </mat-step>
    </mat-stepper>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button type="button" mat-dialog-close color="warn">Cancelar</button>
  <button
    mat-flat-button
    (click)="save()"
    [disabled]="form.invalid || isLoading()"
  >
    Guardar
  </button>
</mat-dialog-actions>
