.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  background: var(--mat-sys-surface-container-low)
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
