<div class="example-container" [class.example-is-mobile]="isMobile()">
  <mat-toolbar class="example-toolbar">
    <div class="flex items-center justify-between w-full">
      <div class="flex items-center">
        <button mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="flex gap-x-2 items-center ml-4">
          <img
            src="images/app-icon.png"
            class="h-8 w-8"
            alt="Institution logo"
          />
          <span class="font-medium tracking-wide"> R.U.M.S.</span>
        </div>
      </div>
      <button
        mat-icon-button
        cdkOverlayOrigin
        #trigger="cdkOverlayOrigin"
        (click)="isProfileOpen = !isProfileOpen"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  @if (isLoading()) {
    <mat-progress-bar mode="indeterminate" class="loading-bar" />
  }
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isProfileOpen"
    (overlayOutsideClick)="isProfileOpen = false"
  >
    <div class="mat-elevation-z8 w-[90vw] sm:w-[380px]">
      <profile [(isOpen)]="isProfileOpen" />
    </div>
  </ng-template>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="isMobile() ? 54 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="isMobile() ? 'over' : 'side'"
      [fixedInViewport]="isMobile()"
      fixedTopGap="54"
      [opened]="true"
      class="left-menu"
    >
      <div class="p-3">
        <mat-nav-list>
          @for (nav of menu; track nav) {
            <a
              mat-list-item
              [routerLink]="nav.routerLink"
              #link="routerLinkActive"
              routerLinkActive
              [activated]="link.isActive"
              class="mb-2"
            >
              <mat-icon matListItemIcon>{{ nav.icon }}</mat-icon>
              <span class="ml-2">{{ nav.label }}</span>
            </a>
          }
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
