<div class="animate-fade">
  <div class="flex px-4 py-3 items-center example-orange-primary-container">
    <div class="text-2xl">Mascotas</div>
    <div class="flex-1"></div>
  </div>
  <div class="flex justify-end py-2">
    <div class="w-full px-2 sm:w-1/4 h-11">
      <search-input
        (onSearch)="search($event)"
        placeholder="Codigo / CI Propietario"
      />
    </div>
  </div>

  <div class="p-3">
    <div class="mat-elevation-z2">
      <table mat-table [dataSource]="datasource()">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Codigo</th>
          <td mat-cell *matCellDef="let element">
            {{ element.code }}
          </td>
        </ng-container>

        <ng-container matColumnDef="species">
          <th mat-header-cell *matHeaderCellDef>Especie</th>
          <td mat-cell *matCellDef="let element">
            {{ element.breed.species }} - {{ element.breed.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Registro</th>
          <td mat-cell *matCellDef="let element">
            {{ element.createdAt | date : "short" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef>Propietario</th>
          <td mat-cell *matCellDef="let element">
            {{ element.owner.fullname | titlecase }}
          </td>
        </ng-container>

        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" class="w-8">
            <button
              mat-icon-button
              aria-label="Show details"
              [routerLink]="['../pets', element.id]"
            >
              <mat-icon>chevron_right</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell p-3" colspan="4">No se encontraron resultados</td>
        </tr>
      </table>
      <mat-paginator
        aria-label="Select page of users search results"
        showFirstLastButtons
        [length]="datasize()"
        [pageIndex]="index()"
        [pageSize]="10"
        (page)="onPageChange($event)"
      />
    </div>
  </div>
</div>
