<div class="animate__animated animate__fadeIn">
  <div class="flex px-4 py-3 items-center example-orange-primary-container">
    <div class="text-2xl">Mascotas</div>
    <div class="flex-1"></div>
    <button
      mat-icon-button
      aria-label="Filter user"
      cdkOverlayOrigin
      #menuOverlay="cdkOverlayOrigin"
      matTooltip="Filtrar"
      (click)="isFilterOpen = !isFilterOpen"
    >
      <mat-icon>filter_alt</mat-icon>
    </button>
  </div>

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="menuOverlay"
    [cdkConnectedOverlayOpen]="isFilterOpen"
    (overlayOutsideClick)="isFilterOpen = false"
  >
    <div class="overlays px-4 py-4 sm:w-[450px]">
      <form [formGroup]="formFilter">
        <mat-form-field appearance="outline">
          <mat-label>Propietario</mat-label>
          <input matInput formControlName="owner" placeholder="Nombre / CI" />
        </mat-form-field>

        <simple-select-search
          label="Distrito"
          placeholder="Distrito del propietario"
          [value]="formFilter.get('district')?.value"
          [elements]="districts()"
          (onSelect)="formFilter.get('district')?.setValue($event)"
        />
      </form>
      <div></div>
      <div class="flex justify-end gap-x-2 mt-2">
        <button mat-button (click)="reset()">Restablecer</button>
        <button mat-flat-button (click)="filter()">Buscar</button>
      </div>
    </div>
  </ng-template>

  <div class="flex justify-end py-2">
    <div class="w-full px-2 sm:w-1/4 h-11">
      <search-input
        [initValue]="term()"
        (onSearch)="search($event)"
        placeholder="Nombre / Codigo"
      />
    </div>
  </div>

  <div class="p-3">
    <div class="mat-elevation-z2">
      <table mat-table [dataSource]="datasource()">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">
            {{ element.name | titlecase }}
          </td>
        </ng-container>

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Codigo</th>
          <td mat-cell *matCellDef="let element" class="w-24">
            {{ element.code }}
          </td>
        </ng-container>

        <ng-container matColumnDef="species">
          <th mat-header-cell *matHeaderCellDef>Especie</th>
          <td mat-cell *matCellDef="let element">
            {{ element.breed.species }} - {{ element.breed.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Registro</th>
          <td mat-cell *matCellDef="let element">
            {{ element.createdAt | date : "short" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef>Propietario</th>
          <td mat-cell *matCellDef="let element">
            {{ element.owner.fullname | titlecase }}
          </td>
        </ng-container>

        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let item" class="w-8">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="showDetail(item)">
                <mat-icon>info</mat-icon>
                <span>Detalle mascota</span>
              </button>
              <button mat-menu-item (click)="captureLog(item)">
                <mat-icon>health_and_safety</mat-icon>
                <span>Historial de capturas</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell p-3" colspan="4">No se encontraron resultados</td>
        </tr>
      </table>
      <mat-paginator
        aria-label="Select page of users search results"
        showFirstLastButtons
        [length]="datasize()"
        [pageIndex]="index()"
        [pageSize]="10"
        (page)="onPageChange($event)"
      />
    </div>
  </div>
</div>
