<mat-toolbar>
  <button mat-icon-button (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="ml-4">Detalle</span>
</mat-toolbar>
@if(isLoading()){
<mat-progress-bar mode="query" />
}
<div class="animate-fade-right animate-ease-in-out animate-normal">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Descripcion">
      <div class="py-2 px-2 sm:px-4">
        @if(pet()){
        <div
          class="flex items-center gap-y-4 sm:gap-y-0 gap-x-0 sm:gap-x-8 flex-col sm:flex-row"
        >
          <div class="w-full sm:w-2/5">
            <div class="flex justify-center">
              <image-loader [url]="pet()!.image" />
            </div>
          </div>
          <div class="w-full sm:w-3/5">
            <div class="px-2 sm:px-0">
              <h3 class="text-base/7 font-semibold text-gray-900">
                {{ pet()?.name }}
              </h3>
              <p class="mt-1 max-w-2xl text-sm/6 text-gray-500">
                Descripcion de la mascota
              </p>
            </div>
            <div class="mt-6 border-t border-gray-100">
              <dl class="divide-y divide-gray-100">
                <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">Codigo</dt>
                  <dd
                    class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"
                  >
                    {{ pet()?.code }}
                  </dd>
                </div>
                <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">Raza</dt>
                  <dd
                    class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"
                  >
                    {{ pet()?.breed?.species }} - {{ pet()?.breed?.name }}
                  </dd>
                </div>
                <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">Color</dt>
                  <dd
                    class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"
                  >
                    {{ pet()?.color }}
                  </dd>
                </div>
                <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">Años</dt>
                  <dd
                    class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"
                  >
                    {{ pet()?.calculateAge() }}
                  </dd>
                </div>
                <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">
                    Macho/Hembra
                  </dt>
                  <dd
                    class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"
                  >
                    {{ pet()?.sex }}
                  </dd>
                </div>
                <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">
                    Esterilizado
                  </dt>
                  <dd
                    class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"
                  >
                    {{ pet()?.is_neutered ? "SI" : "NO" }}
                  </dd>
                </div>
                <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">
                    Fecha esterilizacion
                  </dt>
                  <dd
                    class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"
                  >
                    {{ (pet()?.neuter_date | date : "short") ?? "-----" }}
                  </dd>
                </div>
                <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">
                    Fecha registro
                  </dt>
                  <dd
                    class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"
                  >
                    {{ pet()?.createdAt | date : "short" }}
                  </dd>
                </div>
                <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">
                    Propietario
                  </dt>
                  <dd
                    class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"
                  >
                    {{ pet()?.fullnameOwner }}
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
        }

        <!-- <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
          <mat-tab label="Descripcion">
            @if(pet()){
            <div class="py-4">
              <div class="flex items-center gap-x-8">
                <div class="w-1/5">
                  <div class="h-80 bg-red-200"></div>
                </div>
                <div class="w-4/5">
                  <h3 class="text-base/7 font-semibold text-gray-900">
                    {{ pet()?.name }}
                  </h3>
                  <p class="mt-1 max-w-2xl text-sm/6 text-gray-500">
                    Descripcion de la mascota
                  </p>
                </div>
              </div>
            </div>
            <div class="mt-6 border-t border-gray-100">
              <dl class="divide-y divide-gray-100">
                <div class="px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">Nombre</dt>
                  <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                    {{ pet()?.name }}
                  </dd>
                </div>
                <div class="px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">Codigo</dt>
                  <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                    {{ pet()?.code }}
                  </dd>
                </div>
                <div class="px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">Años</dt>
                  <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                    {{ pet()?.age }}
                  </dd>
                </div>
                <div class="px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">Especie</dt>
                  <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                    {{ pet()?.species }}
                  </dd>
                </div>
                <div class="px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">Descripcion</dt>
                  <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                    {{ pet()?.description ?? "SIn Desc" }}
                  </dd>
                </div>
                <div class="px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">Raza</dt>
                  <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                    {{ pet()?.breed }}
                  </dd>
                </div>
                <div class="px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">Color</dt>
                  <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                    {{ pet()?.color }}
                  </dd>
                </div>
              </dl>
            </div>
            }
          </mat-tab>
          <mat-tab label="Vacunas">Vacunas</mat-tab>
        </mat-tab-group> -->
      </div>
    </mat-tab>
    <mat-tab label="Vacunas">Vacunas</mat-tab>
  </mat-tab-group>
</div>
