<mat-toolbar>
  <button mat-icon-button (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="ml-4">Detalle</span>
  <span class="flex-1"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
</mat-toolbar>
@if(isLoading()){
<mat-progress-bar mode="query" />
}
<div class="animate-fade-right animate-ease-in-out animate-normal">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Descripcion">
      <div class="py-2 px-2 sm:px-4">
        @if(pet()){
        <div
          class="flex items-center gap-y-4 sm:gap-y-0 gap-x-0 sm:gap-x-8 flex-col sm:flex-row"
        >
          <div class="w-full sm:w-2/5">
            <div class="flex justify-center">
              <image-loader [url]="pet()!.image" />
            </div>
          </div>
          <div class="w-full sm:w-3/5">
            <div class="px-2 sm:px-0">
              <p class="text-base/7 text-3xl font-semibold text-gray-900">
                {{ pet()?.name }}
              </p>
            </div>
            <div class="mt-6 border-t border-gray-100">
              <dl class="divide-y divide-gray-100">
                <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">Codigo</dt>
                  <dd
                    class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"
                  >
                    {{ pet()?.code }}
                  </dd>
                </div>
                <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">Raza</dt>
                  <dd
                    class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"
                  >
                    {{ pet()?.breed?.species }} - {{ pet()?.breed?.name }}
                  </dd>
                </div>
                <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">Color</dt>
                  <dd
                    class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"
                  >
                    {{ pet()?.color }}
                  </dd>
                </div>
                <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">Años</dt>
                  <dd
                    class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"
                  >
                    {{ pet()?.calculateAge() }}
                  </dd>
                </div>
                <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">
                    Macho/Hembra
                  </dt>
                  <dd
                    class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"
                  >
                    {{ pet()?.sex }}
                  </dd>
                </div>
                <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">
                    Esterilizado
                  </dt>
                  <dd
                    class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"
                  >
                    {{ pet()?.is_neutered ? "SI" : "NO" }}
                  </dd>
                </div>
                <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">
                    Fecha esterilizacion
                  </dt>
                  <dd
                    class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"
                  >
                    {{ (pet()?.neuter_date | date : "short") ?? "-----" }}
                  </dd>
                </div>
                <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">
                    Fecha registro
                  </dt>
                  <dd
                    class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"
                  >
                    {{ pet()?.createdAt | date : "short" }}
                  </dd>
                </div>
                <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">
                    Propietario
                  </dt>
                  <dd
                    class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"
                  >
                    {{ pet()?.owner?.fullname }}
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
        }
      </div>
    </mat-tab>
    <mat-tab label="Historial">
      <div
        class="flex flex-col sm:flex-row items-center sm:justify-between p-4"
      >
        <div>
          <mat-chip-listbox (change)="filterTreatments($event.value)">
            <mat-chip-option [selected]="0" [value]="null"
              >Todos</mat-chip-option
            >
            @for (category of categories(); track $index) {
            <mat-chip-option [value]="category">{{
              category | titlecase
            }}</mat-chip-option>
            }
          </mat-chip-listbox>
        </div>
        <div class="w-full sm:w-[120px] mt-4 sm:mt-0">
          <button class="w-full" mat-flat-button (click)="addTreatment()">
            <mat-icon>add</mat-icon>
            Agregar
          </button>
        </div>
      </div>

      <div class="h-[70vh] overflow-y-scroll rounded-xl m-4" #containerRef>
        <pet-history [history]="history()" [containerRef]="containerRef" />
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
