@use "@angular/material" as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
  .mdc-notched-outline__notch {
  border-right-style: hidden;
}

mat-form-field {
  width: 100%;
}

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$orange-palette,
      typography: Roboto,
      density: -2,
    )
  );
}