@use "@angular/material" as mat;
@use "ngx-toastr/toastr";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

mat-form-field {
  width: 100%;
}

.mdc-notched-outline__notch {
  border-right: none;
}

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$orange-palette,
      typography: Roboto,
      density: -2,
    )
  );

  .overlays {
    background: var(--mat-sys-surface-container-low);
    color: var(--mat-sys-on-surface);
    box-shadow: var(--mat-sys-level2);
  }
}

@media screen and (max-width: 960px) {
  .mat-mdc-header-row {
    display: none;
  }

  .mat-mdc-table {
    background: transparent;
    * {
      box-sizing: border-box;
    }

    .mat-mdc-row {
      display: block;
      overflow: hidden;
      height: auto;
      position: relative;
      clear: both;
      box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
      border-radius: 3px;

      + .mat-mdc-row {
        margin-top: 10px;
      }
    }

    .mat-mdc-cell {
      display: block;
      width: 100%;
      padding: 0 16px;
      margin: 16px 0;
      border: 0 none;

      &:first-child {
        padding: 0 48px 0 16px;

        a {
          font-size: 20px;
          font-weight: 400;
          color: inherit;
        }

        &:before {
          display: none;
        }
      }

      &.m-card-sub-title {
        font-size: 18px;
        padding: 0 48px 0 16px;
      }
    }

    .has_label_on_mobile {
      &:before {
        content: attr(data-label);
        display: inline;
        font-weight: normal;
      }
    }

    .mat-column-star {
      width: auto;
      padding: 8px 0 0 !important;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;

      &:before {
        display: none;
      }
    }

    .mat-column-options {
      width: auto;
      padding: 8px 0 0 !important;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;

      &:before {
        display: none;
      }
    }
  }

  .mat-mdc-paginator {
    margin-top: 24px;
  }
}

@layer utilities {
  @keyframes fade-down {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-fade-down {
    animation: fade-down 320ms ease-out both;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .animate-fade-in {
    animation: fade-in 400ms ease-out both;
  }
}
